.card-styles {
    margin-bottom: -1px !important;
    margin-top: 50px !important;
    padding-top: 53px !important;
    padding-bottom: 86px !important;
}

.margin-top{
    margin-top: 10px !important;
}

.display-unset {
    display: unset !important;
}

