.card-styles {
    margin-bottom: -1px !important;
    margin-top: 50px !important;
    padding-top: 53px !important;
    padding-bottom: 86px !important;
}

.button-styles{
    margin-top: 10px !important;
}

